/**
 *
 *
 *      {{ properCase componentName }}
 *
 *
 */

{{#ifIncludesAny dataFetchingMethod 'SSR' 'react-query&&SSR'}}
import type { GetServerSideProps, NextPage } from 'next';
{{/ifIncludesAny}}
{{#ifIncludesAny dataFetchingMethod 'SSG' 'react-query&&SSG'}}
import type { GetStaticProps, NextPage } from 'next';
{{/ifIncludesAny}}
{{#ifIncludesAny dataFetchingMethod 'none' }}
import type { NextPage } from 'next';
{{/ifIncludesAny}}
import React from 'react';
import Head from 'next/head';
{{#if wantTranslation}}
import { useTranslation } from 'next-i18next';
import { serverSideTranslations } from 'next-i18next/serverSideTranslations';
{{/if}}
{{#if wantStyles}}
import styles from 'styles/{{ properCase componentName }}.module.css';
{{/if}}
{{#if wantAForm}}
import { yupResolver } from '@hookform/resolvers/yup';
import { SubmitHandler, useForm, FormProvider } from 'react-hook-form';
import { Schema } from 'config/yupSchemas/{{properCase componentName}}Schema';
{{/if}}
{{#ifIncludesAny dataFetchingMethod 'react-query&&SSR' 'react-query&&SSG' }}
import { QueryClient, useQuery, dehydrate } from 'react-query';
{{/ifIncludesAny}}
{{#ifEquals dataFetchingMethod 'react-query'}}
import { useQuery } from 'react-query';
{{/ifEquals}}

const {{ properCase componentName }}: NextPage = () => {
  {{#if wantTranslation}}
  const { t } = useTranslation('common');
  {{/if}}
  {{#if wantAForm}}
  const [isLoading, setIsLoading] = React.useState<boolean>(false);
  {{/if}}

  {{#ifIncludesAny dataFetchingMethod 'react-query' 'react-query&&SSR' 'react-query&&SSR' }}
  // specify the type of data instead of any
  const { isLoading: dataIsLoading, data } = useQuery<any>('{{ properCase componentName }}', async () => {});
  {{/ifIncludesAny}}

  {{#if wantAForm}}
  // change the type from any to the type of the form body
  // for more information check the docs at https://react-hook-form.com/
  const formMethods = useForm<any>({
    resolver: yupResolver(Schema),
  });

  const { 
    formState: { errors },
    register, 
    handleSubmit,
  } = formMethods;

  // change the type from any to the type of the form body
  const onSubmit: SubmitHandler<any> = async (d) => {
    setIsLoading(true);
    try {
      {{#if usingAnInsideApiRoute}}
      const resp = await fetch('{{getApiName apiName}}', {
      {{else}}
      const resp = await fetch('', {
      {{/if}}
        method: 'POST',
        body: JSON.stringify({
          // form body example: name: d.name
        }),
      });
    } catch (e) {
      console.log(e);
    }
  };
  {{/if}}
  return (
    <>
      <Head>
        <meta name="title" content="{{ titleCase componentName }}" />
        <meta name="description" content="{{ titleCase componentName }}" />
        <title>{{ titleCase componentName }}</title>
      </Head>
      {{#if wantAForm}}
      {/* to use this form in a child component use useFormContext */}
      <FormProvider {...formMethods}>
        {{#if wantStyles}}
        <main className={styles.main}>
        {{else}}
        <main>
        {{/if}}
          {{#if wantTranslation}}
          {t('')}
          {{/if}}
          <h1>{{ titleCase componentName }}</h1>
          {/* usage example */}
          <form onSubmit={handleSubmit(onSubmit)}>
            <input {...register('name')} />
            {errors.name && (
              <p className='px-2 pb-2 text-error'>{errors.name.message}</p>
            )}
          </form>
        </main>
      </FormProvider>
      {{else}}
      {{#if wantStyles}}
      <main className={styles.main}>
      {{else}}
      <main>
      {{/if}}
        {{#if wantTranslation}}
        {t('')}
        {{/if}}
        <h1>{{ titleCase componentName }}</h1>
      </main>
      {{/if}}
    </>
  );
};

export default {{ properCase componentName }};


{{#ifIncludesAny dataFetchingMethod 'SSR' 'react-query&&SSR'}}
{{#if wantTranslation}}
export const getServerSideProps: GetServerSideProps = async ({ locale }) => {
{{else}}
export const getServerSideProps: GetServerSideProps = async () => {
{{/if}}
  {{#ifEquals dataFetchingMethod 'react-query&&SSR'}}
  const queryClient = new QueryClient();

  // specify the type of data instead of any.
  // query name must match the one in the component above.
  await queryClient.prefetchQuery<any>('{{ properCase componentName }}', async () => {});
  {{/ifEquals}}
  return {
    {{#if wantTranslation}}
      /* 'common' is the default json translation file, if you want to 
      change it create a new json file in the public/locales/en folder 
      and add it here and in the useTranslation hook above.
      for more information check the docs at https://github.com/i18next/next-i18next#readme */
    props: {
      ...(await serverSideTranslations(locale as string, ['common'])),
      {{#ifEquals dataFetchingMethod 'react-query&&SSR'}}
      dehydratedState: dehydrate(queryClient),
      {{/ifEquals}}
    },
    {{else}}
    {{#ifEquals dataFetchingMethod 'react-query&&SSR'}}
    props: {
      dehydratedState: dehydrate(queryClient),
    },
    {{else}}
    props:{},
    {{/ifEquals}}
    {{/if}}
  };
};
{{/ifIncludesAny}}

{{#ifIncludesAny dataFetchingMethod 'SSG' 'react-query&&SSG'}}
{{#if wantTranslation}}
export const getStaticProps: GetStaticProps = async ({ locale }) => {
{{else}}
export const getStaticProps: GetStaticProps = async () => {
{{/if}}
  {{#ifEquals dataFetchingMethod 'react-query&&SSG'}}
  const queryClient = new QueryClient();

  // specify the type of data instead of any.
  // query name must match the one in the component above.
  await queryClient.prefetchQuery<any>('{{ properCase componentName }}', async () => {});
  {{/ifEquals}}
  return {
    {{#if wantTranslation}}
      /* 'common' is the default json translation file, if you want to 
      change it create a new json file in the public/locales/en folder 
      and add it here and in the useTranslation hook above.
      for more information check the docs at https://github.com/i18next/next-i18next#readme */
    props: {
      ...(await serverSideTranslations(locale as string, ['common'])),
      {{#ifEquals dataFetchingMethod 'react-query&&SSG'}}
      dehydratedState: dehydrate(queryClient),
      {{/ifEquals}}
    },
    {{else}}
    {{#ifEquals dataFetchingMethod 'react-query&&SSG'}}
    props: {
      dehydratedState: dehydrate(queryClient),
    },
    {{else}}
    props:{},
    {{/ifEquals}}
    {{/if}}
  };
};
{{/ifIncludesAny}}