/**
 *
 *
 *      {{ properCase componentName }}
 *
 *
 */

import React from 'react';
{{#if wantTranslation}}
import { useTranslation } from 'next-i18next';
{{/if}}
{{#if wantStyles}}
import styles from './{{ properCase componentName }}.module.css';
{{/if}}
{{#if wantSkeleton}}
import {{ properCase componentName }}Skeleton from './Skeleton';
// conditionally render this component ⬆️ when this component is still loading (fetching data for example)
{{/if}}
// eslint-disable-next-line @typescript-eslint/no-empty-interface
interface Props {}

{{#if wantMemo}}
const {{ properCase componentName }}: React.FC<Props> = React.memo(() => {
{{else}}
const {{ properCase componentName }}: React.FC<Props> = () => {
{{/if}}
  {{#if wantTranslation}}
  const { t } = useTranslation('common');
  {{/if}}

  return (
    {{#if wantStyles}}
    <div className={styles.container}>
    {{else}}
    <div>
    {{/if}}
      {{#if wantTranslation}}
      {t('')}
      {{/if}}
      {{ properCase componentName }}
    </div>
  );
{{#if wantMemo}}
});
{{else}}
};
{{/if}}

export default {{ properCase componentName }};
