import { GetServerSideProps, NextPage } from 'next';
import { useTranslation } from 'next-i18next';
import { serverSideTranslations } from 'next-i18next/serverSideTranslations';
import Head from 'next/head';
import React from 'react';

const {{ properCase componentName }}: NextPage = () => {
  const { t } = useTranslation();

  return (
    <>
      <Head>
        <meta name="title" content="{{ properCase componentName }}" />
        <meta name="description" content="{{ properCase componentName }}" />
        <title>{{ properCase componentName }}</title>
      </Head>
      <section>
        <h1>{{ properCase componentName }}</h1>
      </section>
    </>
  );
};

export default {{ properCase componentName }};


export const getServerSideProps: GetServerSideProps = async ({ locale }) => {
  return {
    props: {
      ...(await serverSideTranslations(locale as string, ['common'])),
    },
  };
};
